$body-color: rgb(112, 20, 112);
$main-bg-color: gray;
$add-todo: greenyellow;
$add-todo-text: white;
$add-todo-hover: goldenrod;
$list-container: khaki;
$span-color: lightcoral;
$span-color-hover: red;
$lime: lime;